@{
    ViewBag.Title = "About";
}
	<div class="text-center" style="background-color:#ffffff;padding-top:20px;color:#201976">

		<h2 style="color:cornflowerblue">About Us</h2>

		@*<input type="button" class="btn btn-primary" name="Gallery" value="Gallery" />*@
		<br />
		<p style="color:cornflowerblue">
			Grow Green Technologies Engineering is <u style="color:red">ISO 9001:2015</u> Certified company which was started in the year 2016. In a start time we have developed a good and reputed clinet base.
		</p>

		<strong><u style="color:cornflowerblue">OUR VISION</u></strong>
		<p style="color:cornflowerblue">
			Presently our growth rate is about 25% per annum with a objective of becoming 10 Crores turn over company by the year 2022.
		</p>
		<p style="color:cornflowerblue">
			To make our presence felt in the Global market by 2020. <br />
			To achieve this objective, we are committed to innovative growth through a professional mindset and maintain high values.<br />
			While achieving our goal, we will also ensure that all our partners in growth benefit equally.<br />
		</p>
		@*<p style="color:cornflowerblue">
			This firm has expertise in carrying out Major repairs of
		</p>
		<ul style="list-style-type: none;color:cornflowerblue">
			<li style="color:#60A043">
				All types of ELL Jetty Cranes
			</li>
			<li style="color:#60A043">
				EOT Cranes
			</li>
			<li style="color:#60A043">
				All types of Rotating Equipment like Pumps, Motors, Gear Boxes, ID Fans etc.
			</li>
			<li style="color:#60A043">
				Customer list includes HPCL, Naval Dockyard, Etc.
			</li>
			<li style="color:#60A043">
				No of Technicians : 45
			</li>
			<li style="color:#60A043">
				Turnover of 2017 - 18 : 20 lakhs. INR
			</li>
		</ul>*@
		@*<p style="color:cornflowerblue">We under take Fabrication and Erection of MS structures, crude oil storage tanks, pipe lines etc...</p>
		<p style="color:cornflowerblue">We executed several projects related to </p>*@
		<hr />
		<table class="table-bordered text-center mx-auto" style="color:cornflowerblue">
			<tr>
				<u style="color:cornflowerblue">
					JOBS IN HANDS
				</u>
			</tr>
			<tr>
				<th>
					S.NO
				</th>
				<th>
					Client
				</th>
				<th>
					Duration
				</th>
				<th>
					Description
				</th>
				<th>
					Value in Lakhs
				</th>
			</tr>
			<tr>
				<td>
					1
				</td>
				<td>
					Finetech Corporation Ltd
				</td>
				<td>
					2019-2020
				</td>
				<td>
					Material handling contracts.
				</td>
				<td>
					22.17
				</td>
			</tr>
			<tr>
				<td>
					2
				</td>
				<td>
					Essar Steel India Ltd,Sukma
				</td>
				<td>
					2019-2020
				</td>
				<td>
					Mechanical Associated Works for Intake Well & Supporting Structure
				</td>
				<td>
					3.3
				</td>
			</tr>
			<tr>
				<td>
					3
				</td>
				<td>
					Essar Steel India Ltd, Kirandul
				</td>
				<td>
					2019-2020
				</td>
				<td>
					Fabrication, Sand Blasting, Painting of Technological Structure
				</td>
				<td>
					8.8
				</td>
			</tr>
		</table>
		<hr />
		<table class="table-bordered text-center mx-auto" style="color:cornflowerblue">
			<tr>
				<u style="color:cornflowerblue">
					MAJOR JOBS COMPLETED
				</u>
			</tr>
			<tr>
				<th>
					S.NO
				</th>
				<th>
					Client
				</th>
				<th>
					Duration
				</th>
				<th>
					Description
				</th>
				<th>
					Value in Lakhs
				</th>
			</tr>
			<tr>
				<td>
					1
				</td>
				<td>
					Uniparts India Ltd
				</td>
				<td>
					2019-2020
				</td>
				<td>
					Product Lines / Propane Tank Gas
					lines
				</td>
				<td>
					4.99
				</td>
			</tr>
			<tr>
				<td>
					2
				</td>
				<td>
					Mahi Drugs/ SMS Life
					Sciences
				</td>
				<td>
					2019-2020
				</td>
				<td>
					Interior Grid Ceiling/ Gypsum Ceiling
				</td>
				<td>
					7.33
				</td>
			</tr>
			<tr>
				<td>
					3
				</td>
				<td>
					Sudha Analyticals
				</td>
				<td>
					2018-2019
				</td>
				<td>
					Epoxy Flooring & Vinyl Flooring
				</td>
				<td>
					2.5
				</td>
			</tr>
			<tr>
				<td>
					4
				</td>
				<td>
					Finetech Corporation Ltd
				</td>
				<td>
					2018-2019
				</td>
				<td>
					Material Handling Services
				</td>
				<td>
					15.7
				</td>
			</tr>
			<tr>
				<td>
					5
				</td>
				<td>
					Simhachalam
					Devasthanam
				</td>
				<td>
					2016-2017
				</td>
				<td>
					Solar Panels
				</td>
				<td>
					5.9
				</td>
			</tr>
		</table>
		<hr />

		<div class="row" style="color:cornflowerblue;padding-left:100px;">
			<span>
				Let Grow Green Technologies be your business partner. We have the resources & the expertise to help you compete more effectively. Giving us an opportunity to serve you would definitely be the beginning of a mutually beneficial relationship.
			</span>
		</div>
	</div>
