

@{
	ViewBag.Title = "Epoxy Flooring";
}

<div class="text-center" style="background-color:#ffffff;padding-top:20px;color:#201976">

	<h2 style="color:cornflowerblue">Epoxy Flooring</h2>

	<input type="button" class="btn btn-primary" name="Gallery" value="Gallery" />
	<br />
	@*<p style="color:cornflowerblue">We under take Fabrication and Erection of MS structures, crude oil storage tanks, pipe lines etc...</p>
		<p style="color:cornflowerblue">We executed several projects related to </p>*@
	<p style="color:cornflowerblue">		1) Industrial Paint coatings – Epoxy & Temp. resistant	</p>
	<p style="color:cornflowerblue">		2) Anti-Corrosive Paint Treatments	</p>
	<p style="color:cornflowerblue">		3) PID Wrappings	</p>
	<p style="color:cornflowerblue">		4) Floor Self Levelling & Epoxy coatings	</p>
	<p style="color:cornflowerblue">		5) Vinyl Flooring Works	</p>
</div>