

@{
	ViewBag.Title = "Our Expertise";
}
	<div class="text-center" style="background-color:#ffffff;padding-top:20px;color:#201976">

		<h2 style="color:cornflowerblue">Our Expertise</h2>

		<table class="table-bordered text-center mx-auto" style="color:cornflowerblue">
			<tr>
				<u style="color:cornflowerblue">
					JOBS IN HANDS
				</u>
			</tr>
			<tr>
				<th>
					S.NO
				</th>
				<th>
					Client
				</th>
				<th>
					Duration
				</th>
				<th>
					Description
				</th>
				<th>
					Value in Lakhs
				</th>
			</tr>
			<tr>
				<td>
					1
				</td>
				<td>
					Finetech Corporation Ltd
				</td>
				<td>
					2019-2020
				</td>
				<td>
					Material handling contracts.
				</td>
				<td>
					22.17
				</td>
			</tr>
			<tr>
				<td>
					2
				</td>
				<td>
					Essar Steel India Ltd,Sukma
				</td>
				<td>
					2019-2020
				</td>
				<td>
					Mechanical Associated Works for Intake Well & Supporting Structure
				</td>
				<td>
					3.3
				</td>
			</tr>
			<tr>
				<td>
					3
				</td>
				<td>
					Essar Steel India Ltd, Kirandul
				</td>
				<td>
					2019-2020
				</td>
				<td>
					Fabrication, Sand Blasting, Painting of Technological Structure
				</td>
				<td>
					8.8
				</td>
			</tr>
		</table>
		<hr />
		<table class="table-bordered text-center mx-auto" style="color:cornflowerblue">
			<tr>
				<u style="color:cornflowerblue">
					MAJOR JOBS COMPLETED
				</u>
			</tr>
			<tr>
				<th>
					S.NO
				</th>
				<th>
					Client
				</th>
				<th>
					Duration
				</th>
				<th>
					Description
				</th>
				<th>
					Value in Lakhs
				</th>
			</tr>
			<tr>
				<td>
					1
				</td>
				<td>
					Uniparts India Ltd
				</td>
				<td>
					2019-2020
				</td>
				<td>
					Product Lines / Propane Tank Gas
					lines
				</td>
				<td>
					4.99
				</td>
			</tr>
			<tr>
				<td>
					2
				</td>
				<td>
					Mahi Drugs/ SMS Life
					Sciences
				</td>
				<td>
					2019-2020
				</td>
				<td>
					Interior Grid Ceiling/ Gypsum Ceiling
				</td>
				<td>
					7.33
				</td>
			</tr>
			<tr>
				<td>
					3
				</td>
				<td>
					Sudha Analyticals
				</td>
				<td>
					2018-2019
				</td>
				<td>
					Epoxy Flooring & Vinyl Flooring
				</td>
				<td>
					2.5
				</td>
			</tr>
			<tr>
				<td>
					4
				</td>
				<td>
					Finetech Corporation Ltd
				</td>
				<td>
					2018-2019
				</td>
				<td>
					Material Handling Services
				</td>
				<td>
					15.7
				</td>
			</tr>
			<tr>
				<td>
					5
				</td>
				<td>
					Simhachalam
					Devasthanam
				</td>
				<td>
					2016-2017
				</td>
				<td>
					Solar Panels
				</td>
				<td>
					5.9
				</td>
			</tr>
		</table>
		<hr />

		<div class="row" style="color:cornflowerblue;padding-left:100px;">
			<span>
				Let Grow Green Technologies be your business partner. We have the resources & the expertise to help you compete more effectively. Giving us an opportunity to serve you would definitely be the beginning of a mutually beneficial relationship.
			</span>
		</div>
	</div>
