
@{
	ViewBag.Title = "Princples";
}
	

	<link href="~/Content/lihovereffect.css" rel="stylesheet" />

	<div class="text-center" style="background-color:#ffffff;padding-top:20px;color:#201976">

		<h2 style="color:cornflowerblue">Princples</h2>

		@*<input type="button" class="btn btn-primary" name="Gallery" value="Gallery" />*@
		<br />
		<ul class="list-unstyled">
			<li class="hoverWrapper">
				SAFETY POLICY
				<span id="hoverShow1" style="color:cornflowerblue;text-align:center">
					
						As integrated part of the business, we at GGT ENGINEERING believe that no work, service or activity is so important or urgent that SAFTEY be overlooked or compromised. Safety of the employees at a work as well as after working hours is of paramount importance. We consider that safety is one of the important tools to enhance productivity and to reduce our principal employers losses.<br />

						<b><u>Objectives of our Safety Policy are to</u></b> <br />				
																			 <ul class="list-inline">
																			 	<li>
																			 		Design, create and maintain facilities, provide training, establish procedures/safety rules in all the fields including process safety and ensure that these are rigidly followed by the employees, the sub-contractors and the suppliers.
																			 	</li>
																			 	<li>
																			 		Carry out operations in a safe manner protecting people and property.
																			 	</li>
																			 	<li>
																			 		Comply with relevant statutory rules and devise appropriate standards in other cases whenever required.
																					 </li>
																			 	<li>
																			 		Maintain highest standards of vigilance and preparedness to respond to emergencies supplemented with mutual aid of neighboring facilities and our principals.
																			 	</li>
																			 	<li>
																			 		Create awareness in employees and public on Safe Storage, Transportation, and Handling of products & materials associated with our activities.
																			 	</li>
																			 	<li>
																			 		Ensure awareness among all employees of their responsibility and accountability for safety on and off the work premises.
																			 	</li>
																			 	<li>
																			 		Program reviews and evaluation to measure progress of compliance with the policy.
																			 	</li>
																			 </ul>
						<strong style="color:#60A043">SAFETY AT WORK – HAPPINESS AT HOME</strong>
				</span>
			</li>
			<li  class="hoverWrapper">
				Others Adding up Soon...
			</li>
			
			@*<p style="color:cornflowerblue">We under take Fabrication and Erection of MS structures, crude oil storage tanks, pipe lines etc...</p>
		<p style="color:cornflowerblue">We executed several projects related to </p>*@
		</ul>
	</div>
