

@{
	ViewBag.Title = "Solar Works";
}

<div class="text-center" style="background-color:#ffffff;padding-top:20px;color:#201976">

	<h2 style="color:cornflowerblue">Solar Works</h2>

	<input type="button" class="btn btn-primary" name="Gallery" value="Gallery" />
	<br />
	<p style="color:cornflowerblue">Adding Soon.....</p>
	@*<p style="color:cornflowerblue">We executed several projects related to </p>*@

</div>
